
.pre-footer {
    padding: 30px 0px;
    background-color: rgb(192, 192, 248);
    border: 5px solid rgb(53, 51, 59);

    &__contacts {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__container {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 1365px) {
            justify-content: space-between;
        }
    }

    &__logo {
        width: 70px;

        @media screen and (max-width: 767px) {
            margin: 0 auto;
            display: block;
            text-align: center;
        }

        @media screen and (min-width: 1366px) {
            margin-right: 290px;
        }
    }

    &__icon {
        width: 80px;
        height: 29px;

        @media screen and (min-width: 768px) {
            width: 128px;
            height: 45px;
        }
    }

    &__tel {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include font(600, 14px, 17px, 0.08em);

        color: var(--main-color);

        @include animation (color);

        &:hover,
        &:focus {
            color: var(--main-text-with-opasity);
        }

        @media screen and (max-width: 767px) {
            margin-top: 21.88px;
        }

        @media screen and (min-width: 768px) {
            margin-right: 48px;

            font-size: 20px;
        }

        @media screen and (min-width: 1366px) {
            @include font(600, 30px, 37px, 0.08em);
        }

        &::after {
            content: ' ';
            position: absolute;
            display: block;
            right: -24px;

            width: 1px;
            height: 40px;

            background-color: var(--second-text);

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        &-icon {
            margin-right: 10px;

            @media screen and (max-width: 768px) {
                width: 24px;
                height: 23px;
            }

            @media screen and (max-width: 1366px) {
                width: 30px;
                height: 29px;
            }
        }
    }

    &__inst {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../images/instagram.svg');
        background-size: 40px;
        background-repeat: no-repeat;

        @media screen and (max-width: 767px) {
            margin: 30px auto 0;
        }
    }
}

.footer {
    padding: 21px 0;
    color: white;
    background-color: rgb(53, 51, 59);
    text-align: center;
}