.registration {
    &__container {
        max-width: 100%;
        padding: 40px;
        background-image: linear-gradient(to right, rgb(17, 21, 24, 0.5), rgba(17, 21, 24, 0.5)), url('../images/sussexUniContact.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__title {
        @include font(800, 28px, 32px);

        margin-bottom: 20px;
        color: white;
        text-align: center;
    }

    &__text {
        margin-bottom: 20px;
        color: white;
        text-align: center;
    }

    &__form {
        margin-top: 23px;
        text-align: center;

        // ................TABLET...............

        @media screen and (min-width: 768px) {
            margin-top: 3px;
        }

        @media screen and (min-width: 1366px) {
            margin-top: 26px;
        }
    }

    &__field {
        margin-top: 20px;

        @media screen and (min-width: 1366px) {
            margin-top: 30px;
        }
    }

    &__input {
        width: 280px;
        padding: 15px 28px;

        @include font(600, 14px, 17px, 0.08em);

        background-color: transparent;
        color: white;

        border: 1px solid white;

        // ................TABLET...............

        @media screen and (min-width: 768px) {
            width: 390px;
        }

        @media screen and (min-width: 1366px) {
            width: 478px;
            @include font(600, 20px, 24px, 0.08em);
        }

        &::placeholder {
            color: var(--white);
        }
    }

    &__button {
        margin: 50px auto 0;
        // ................TABLET...............

        @media screen and (min-width: 768px) {
            margin: 31px auto 0;
        }

        @media screen and (min-width: 1366px) {
            margin: 80px auto 0;
        }
    }
}